body {
    background-color: #001;
}
header{
    background-color: black;
    padding: 1px 0;
    margin: 0 15vw;
}
header h1{
    font-family:STLiti;
    font-size: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:20px;
    letter-spacing: 2px;
}
header ul{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
header li{
    font-size: 24px;
    color: black;
    display: inline-block;
    text-align: centers;
    margin:12px 20px;
    font-family: Agency FB;
}
header h1 a{
    font-family:STLiti;
    font-size: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:20px;
    letter-spacing: 2px;
}
header h1 a:hover{
    font-family:STLiti;
    font-size: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:20px;
    letter-spacing: 2px;
    text-decoration: none;
}
a{
    color: rgb(100, 230, 255);
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    color: rgb(100, 230, 255);
}
section a{
    color: rgb(105, 98, 231);
    text-decoration: none;
}
header a:hover{
    text-decoration: underline;
    color: rgb(100, 230, 255);
}
.sec{
    display: flex;
    flex-direction: column;
    align-items: center;
}
section{
    width: 600px;
    background-color: black;
    align-items: center;
    padding: 15px 20px;
}
section h1{
    color: rgb(100, 230, 255);
    font-size: 30px;
    margin: 2px 0;
}
section h2{
    color: white;
    margin: 2px 0;
}
section h3{
    color: white;
    font-size: 20px;
    font-family: Comic Sans MS;
    margin: 2px 0;
}
section p{
    font-family:Calibri, 標楷體;
    color: white;
    font-size: 20px;
    line-height: 30px;
    margin-left: 2vw;
    letter-spacing: 1px;
}
section a:hover{
    box-shadow: 0 1px;
    padding-bottom:1px;
}
section img{
    width: 500px;
}
pre{
    white-space: pre-wrap;
    border: 2px solid rgb(150,150,150);
    background-color: rgb(60,60,60);padding: 10px;
}
code{
    background-color: rgb(60,60,60);
    font-size: 15px;
    color: white;
}
section li{
    color: white;
    font-family:Calibri, 標楷體 , bold;
    font-size: 20px;
}
section li{
    margin: 5px 0;
}
span{
    padding-left: 0;
}
footer{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    margin: 0 15vw;
}
footer h1{
    font-family: Arial;
    font-size: 10px;
    color: white;
}
